#up{
		padding-top:35px;
	font-family:arial;
	font-size:40px;
}#main{
	/*width:9cm;
	height:8cm;
	*/
	position:absolute;
    top: 48%;
    left: 52%;
    margin-top: -9em; 
    margin-left: -15em; 
	padding:10px 0px 0px 50px;
	font-family:arial;
}
#reg{
	border:none; 
	color:black;
	font-size:12px;
	font-family:arial;
	background: transparent;
}
#sin{
	margin-right:30px;
	border:none; 
	color:white;
	font-size:13px;
	height:30px;
	width:120px;
    border-radius: 5px;
	font-family:arial;
	background-color:rgb(23,49,72);
}
#ic{
    padding:125px 0px 0px 480px;
	position:absolute;
}
#ic1{
    padding:177px 0px 0px 480px;
	position:absolute;
}
.in{

	padding:5px 0px 6px 40px;				
	border:1px solid white;
    height:0.9cm;
	width:8.8cm;
	border-radius:5px;
	background: transparent;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
